1. Data Cleaning

In [1]:
import pandas as pd
df_historical_data = pd.read_csv('fifa_worldcup_historical_data.csv')
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')
df_missing_data = pd.read_csv('fifa_worldcup_missing_data.csv')

In [2]:
df_fixture['home'] = df_fixture['home'].str.strip() # Getting rid of the unnecessary characters from the specified collumns
df_fixture['away'] = df_fixture['away'].str.strip()

In [ ]:
df_missing_data[df_missing_data['home'].isnull()] # To see what elements are NaN in the table (if there are any)
df_missing_data.dropna(inplace=True) # Getting rid of the NaN elements

In [4]:
# Concatenate and clean
df_historical_data = pd.concat([df_missing_data, df_historical_data], ignore_index=True)
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('year', inplace=True)

Cleaning df_historical_data

In [ ]:
# Deleting the game in which a team abandoned the game
delete_index = df_historical_data[df_historical_data['home'].str.contains('Sweden') & 
                   df_historical_data['away'].str.contains('Austria')].index
df_historical_data.drop(index = delete_index, inplace=True)

In [6]:
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–-]', '', regex=True)
df_historical_data

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Cezar\AppData\Local\Temp\ipykernel_43484\78751840.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–-]', '', regex=True)

            home score           away  year
36       France    4–1         Mexico  1930
41    Argentina    3–1          Chile  1930
42   Yugoslavia    2–1         Brazil  1930
43   Yugoslavia    4–0        Bolivia  1930
44       Brazil    4–0        Bolivia  1930
..           ...   ...            ...   ...
841     Uruguay    3–0         Russia  2018
840     Uruguay    1–0   Saudi Arabia  2018
839      Russia    3–1          Egypt  2018
838       Egypt    0–1        Uruguay  2018
837      Russia    5–0   Saudi Arabia  2018

[900 rows x 4 columns]

In [7]:
df_historical_data['home'] = df_historical_data['home'].str.strip() # Getting rid of the unnecessary characters from the specified collumns
df_historical_data['away'] = df_historical_data['away'].str.strip()

In [ ]:
# Splitting the score column into home and away goals
df_historical_data[['HomeGoals', 'AwayGoals']] = df_historical_data['score'].str.split('–', expand=True)
df_historical_data.drop('score', axis=1, inplace=True) # Got rid of the riginal 'score' column
df_historical_data

In [ ]:
# Renaming the columns and changing their data types
df_historical_data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 'year': 'Year'}, inplace=True)
df_historical_data = df_historical_data.astype({'HomeGoals': int, 'AwayGoals': int, 'Year': int})
df_historical_data.dtypes

HomeTeam     object
AwayTeam     object
Year          int64
HomeGoals     int64
AwayGoals     int64
dtype: object

In [14]:
# Create a new collumn called 'TotalGoals'
df_historical_data['TotalGoals'] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals']
df_historical_data

       HomeTeam      AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
36       France        Mexico  1930          4          1           5
41    Argentina         Chile  1930          3          1           4
42   Yugoslavia        Brazil  1930          2          1           3
43   Yugoslavia       Bolivia  1930          4          0           4
44       Brazil       Bolivia  1930          4          0           4
..          ...           ...   ...        ...        ...         ...
841     Uruguay        Russia  2018          3          0           3
840     Uruguay  Saudi Arabia  2018          1          0           1
839      Russia         Egypt  2018          3          1           4
838       Egypt       Uruguay  2018          0          1           1
837      Russia  Saudi Arabia  2018          5          0           5

[900 rows x 6 columns]

2. Exporting Clean Dataframes

In [15]:
df_historical_data.to_csv('clean_fifa_worldcup_historical_data.csv', index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv', index=False)

3. Simple verification

In [16]:
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 
         2018]

for year in years:
    print(year, len(df_historical_data[df_historical_data['Year'] == year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64